@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(43deg, rgba(0, 217, 91, 0.1) 0%, rgba(97, 92, 246, 0.1) 53.65%, rgba(255, 255, 255, 0.1) 100%), #fff;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px;
    margin:50px auto;
}

.query-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 0 0 calc(25% - 20px);
    /* Adjust the width as needed */
    text-align: center;
}

.query-form {
    flex: 0 0 calc(25% - 20px);
    /* Adjust the width as needed */
    text-align: center;
    background: radial-gradient(28.68% 28.68% at 50% 19.21%, #FFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(315deg, rgba(225, 239, 254, 0.8) 0%, rgba(213, 245, 246, 0.8) 0.01%, rgba(237, 250, 250, 0.8) 100%);
    ;
}

.query-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.query-form label,
.query-form select,
.query-form input {
    margin: 10px 0;
    width: 100%;
    height: 20px;
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .query-form {
        width: 100%;
    }
}

.info {
    height: 400px;
    width: 260px;
    background: radial-gradient(28.68% 28.68% at 50% 19.21%, #FFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(315deg, rgba(225, 239, 254, 0.8) 0%, rgba(213, 245, 246, 0.8) 0.01%, rgba(237, 250, 250, 0.8) 100%);
    ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(315deg, rgba(126, 220, 226, 0.5) 0%, rgba(237, 250, 250, 0.5) 100%), #fff;

}

button {
    background-color: black;
    color: #FFF;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.footInclude {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.activeContact{
	border-bottom: solid 3px #fff;
    padding-bottom: 10px;
}